$txt-color: #237ce2;
%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
%clearfix {
  zoom: 1;
  &:after {
      clear: both;
  }
  &:before,
  &:after {
      content: "";
      display: table;
  }
}
input,
textarea,
select {
  font-family: '微软雅黑';
}
input[type="text"]{
  text-indent: 1em;
}
input[type="submit"]{
  border: none;
}
input[type="text"],
select {
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}
.wrap {
  margin: 0 auto;
  width: 1100px;
}

.ns-topbar-wrap{
  min-width: 1100px;
  height: 38px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f4f4f4;
  position: relative;
  overflow: visible;
}
.ns-topbar-inner{
  width: 1100px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  a{
    @extend %in-b;
    font-size: 14px;
    line-height: 36px;
    color: #666666;
    padding: 0 10px;
    vertical-align: middle;
    &:hover{
      color: $txt-color;
      cursor: pointer;
    }
  }
}
.topbar-nav{
  overflow: visible;
  float: left;
  .nav-list{
    height: 38px;
    position: relative;
    float: left;
    color: #e4e4e4;
    li{
      float: left;
      .icon-kc{
        @extend %in-b;
        width: 16px; 
        height: 13px;
        background: url('../images/css_sprites.png') -300px -326px;
        vertical-align: middle;
      }
      .icon-program{
        @extend %in-b;
        width: 16px; height: 16px;
        background: url('../images/css_sprites.png') -46px -326px;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
  .kc-detail{
    display: none;
    width: 1038px;
    padding: 30px 30px 10px;
    font-size: 16px;
    color: #333333;
    position: absolute;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    li{
      float: none;
      margin-bottom: 10px;
      a{
        padding: 0;
      }
    }
    .detail-title{
      font-weight: bold;
      padding-left: 18px;
      background: url(../images/ns-icon_1.png) no-repeat left;
    }
  }
  .program-detail{
    display: none;
    width: 1038px;
    padding: 30px 30px 10px;
    font-size: 16px;
    color: #333333;
    position: absolute;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    position: absolute;
    left: 0;
    li{
      float: none;
      a{
        padding-left: 0;
        padding-right: 20px;
      }
    }
    .detail-first{
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .detail-title{
      font-weight: bold;
      text-align: left;
      .hot{
        @extend %in-b;
        padding: 5px;
        height: 16px;
        line-height: 16px;
        background-color: #ef544c;
        box-shadow: 0px 3px 5px 0px 
          rgba(239, 84, 76, 0.4);
        border-radius: 3px;
        font-size: 10px;
        color: #fff;
        transform: scale(0.5);
        font-style: normal;
        margin-left: -10px;
      }
    }
    .detail-time{
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      margin-right: 20px;
      padding-left: 26px;
      background: url(../images/ns-icon_2.png) no-repeat left;
    }
  }
}
.topbar-login{
  float: right;
  color: #e4e4e4;
  .icon-avatar{
    @extend %in-b;
    width: 14px; 
    height: 16px;
    background: url('../images/css_sprites.png') -375px -116px;
    vertical-align: text-top;
    margin-right: 10px;
  }
  a{
    &:hover{
      .icon-avatar{
        background: url('../images/ns-icon_5.png') no-repeat;
      }
    }
    &:last-child{
      padding-right: 0;
    }
  }
}
.ns-head{
  height: 100px;
}
.ns-head-l{
  float: left;
  padding-top: 30px;
  .ns-logo{
    @extend %in-b;
    vertical-align: middle;
  }
  .ns-h1{
    @extend %in-b;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
    vertical-align: middle;
    margin-left: 20px;
  }
}
.ns-head-r{
  float: right;
  padding-top: 28px;
  .ns-search {
    @extend %in-b;
    vertical-align: middle;
    height: 40px;
    margin-right: 45px;
    position: relative;
    .ns-sel{
      width: 80px;
      height: 40px;
      font-size: 14px;
      position: absolute;
      left: 1px;
      top: 1px;
      .sel-icon{
        @extend %in-b;
        width: 9px; 
        height: 5px;
        background: url('../images/css_sprites.png') -238px -253px;
        position: absolute;
        left: 59px;
        top: 19px;
        z-index: 10;
      }
      select{
        width: 80px;
        height: 24px;
        line-height: 24px;
        margin: 9px 0;
        padding: 0 20px;
        position: absolute;
        left: 0;
        border-right: 1px solid #d7d7d7;
        color: #333;
      }
    }
    input[type=text] {
      float: left;
      width: 220px;
      height: 40px;
      border: solid 1px #e6e6e6;
      padding-left: 78px;
    }
    input[type=submit] {
      float: left;
      width: 90px;
      height: 42px;
      line-height: 42px;
      background-color: $txt-color;
      border-radius: 2px;
      color: #fff; 
      cursor: pointer;
      padding-left: 10px;
    }
    .submit-icon{
      @extend %in-b;
      width: 16px; height: 17px;
      background: url('../images/css_sprites.png') -244px -163px;
      position: absolute;
      right: 57px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      cursor: pointer;
    }
  }
  .head-nav{
    float: right;
    li{
      float: left;
      margin-left: 20px;
      .head-icon{
        @extend %in-b;
        width: 16px; 
        height: 16px;
        background: url('../images/css_sprites.png') -82px -326px;
        vertical-align: middle;
      }
      &:nth-of-type(2){
        .head-icon{
          background: url('../images/css_sprites.png') -118px -326px;
        }
      }
      &:nth-of-type(3){
        .head-icon{
          background: url('../images/css_sprites.png') -154px -326px;
        }
      }
    }
    a{
      @extend %in-b;
      font-size: 14px;
      line-height: 36px;
      color: #666666;
      padding-left: 10px;
      vertical-align: middle;
      &:hover{
        color: $txt-color;
        cursor: pointer;
      }
    }
  }
}
.ns-newbie{
  height: 80px;
  a{
    display: block;
    width: 146px;
    height: 42px;
    float: right;
    margin-right: 12px;
    margin-top: 20px;
  }
}
.ns-live{
  padding-bottom: 30px;
  ul{
    margin-right: -16px;
  }
  li{
    width: 356px;
	  height: 80px;
    float: left;
    margin-right: 16px;
  }
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
.ns-footer{
  height: 314px;
	background-color: #eeeeee;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 30px;
}
.ns-footer-l{
  float: left;
  width: 435px;
  border-right: 1px solid #d7d7d7;
  .l-item{
    padding-bottom: 20px;
    &:nth-of-type(1){
      padding-bottom: 40px;
    }
    .item-title{
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: #444444;
      &::before{
        @extend %in-b;
        content: '';
        width: 3px;
        height: 16px;
        background-color: #237ce2;
        border-radius: 2px;
        margin-right: 10px;
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
      }
    }
    li{
      float: left;
      padding: 20px 13px 0px;
      a{
        display: block;
        font-size: 14px;
        line-height: 14px;
        color: #666666;
        text-align: center;
        &:hover{
          color: $txt-color;
        }
        img{
          margin-bottom: 8px;
        }
      }
      span{
        display: block;
      }
    }
  }
}
.ns-footer-r{
  float: left;
  width: 664px;
  .r-merit{
    @extend %clearfix;
    margin-bottom: 10px;
    a{
      float: left;
      font-size: 14px;
      line-height: 24px;
      color: #666666;
      margin-left: 80px;
      margin-bottom: 20px;
      &:hover{
        color: $txt-color;
      }
      .icon{
        @extend %in-b;
        width: 26px; 
        height: 22px;
        background: url('../images/css_sprites.png') -230px -282px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span{
        vertical-align: middle;
      }
      &:nth-of-type(2){
        .icon{
          width: 24px;
          height: 24px;
          background: url('../images/css_sprites.png') -98px -282px;
        }
      }
      &:nth-of-type(3){
        .icon{
          width: 24px; 
          height: 20px;
          background: url('../images/css_sprites.png') -331px -225px;
        }
      }
      &:nth-of-type(4){
        .icon{
          width: 24px;
          height: 24px;
          background: url('../images/css_sprites.png') -142px -282px;
        }
      }
      &:nth-of-type(5){
        .icon{
          width: 24px;
          height: 24px;
          background: url('../images/css_sprites.png') -186px -282px;
        }
      }
      &:nth-of-type(6){
        .icon{
          width: 24px;
          height: 22px;
          background: url('../images/css_sprites.png') -331px -53px;
        }
      }
    }
  }
  .r-mini-program{
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 30px;
    li{
      float: left;
      margin-left: 50px;
      &:nth-of-type(1){
        margin-left: 80px;
      }
    }
    span{
      @extend %in-b;
      width: 56px;
      margin-left: 13px;
      padding-top: 28px;
    }
  }
  .r-copyright{
    float: right;
    padding: 0 58px;
    height: 36px;
    border: solid 1px #e4e4e4;
    font-size: 14px;
    line-height: 34px;
    color: #999999;
    text-align: center;
    span{
      margin: 0 10px;
    }
  }
}
/* 招生方案 */
.ns-zs{
  background-color: #3743b1;
  padding-bottom: 30px;
  .zs-head{
    height: 481px;
    text-align: center;
  }
  .zs-video{
    background-color: #ffffff;
    .video-head{
      @extend %clearfix;
      .head-l{
        float: left;
        &::before{
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-left: 15px solid #dddff1;
          border-bottom: 15px solid #dddff1;
          border-right: 15px solid transparent;
        }
        .l-before{
          width: 30px;
          height: 56px;
          background-color: #dddff1;
          float: left;
        }
        .l-subjects{
          float: left;
          background-color: #e8eaff;
          padding: 12px 20px;
          font-size: 16px;
          li{
            float: left;
            color: #d7d7d7;
            a{
              padding: 0 10px;
              line-height: 32px;
              color: #333;
              &:hover{
                color: $txt-color;
              }
            }
          }
          .sub-key{
            @extend %in-b;
            padding: 0 8px 0 16px;
            height: 32px;
            line-height: 32px;
            background-color: #3743b1;
            border-radius: 16px;
            color: #ffffff;
            margin-right: 10px;
          }
        }
      }
      .head-r{
        float: right;
        padding-top: 50px;
        color: #666666;
        margin-right: 20px;
        &::before{
          @extend %in-b;
          content: '';
          width: 3px;
          height: 16px;
          background-color: #ef544c;
          border-radius: 2px;
          vertical-align: middle;
          margin-right: 10px;
        }
        span{
          vertical-align: middle;
        }
      }
    }
    .video-cont{
      padding: 30px 20px;
      @extend %clearfix;
      position: relative;
      .cont-cover{
        float: left;
        width: 704px;
        height: 388px;
        a{
          @extend %in-b;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
      .cont-chapter{
        float: left;
        width: 334px;
        height: 368px;
        padding-left: 20px;
        padding-top: 20px;
        background-color: #eeeeee;
        overflow-x: hidden;
        overflow-y: auto;
        
        .chapter-num{
          color: #333333;
          border-left: 1px solid #d7d7d7;
          .num-title{
            font-size: 16px;
            font-weight: bold;
            line-height: 30px;
            margin-bottom: 10px;
            &::before{
              @extend %in-b;
              content: '';
              width: 7px;
              height: 7px;
              background-color: #237ce2;
              border-radius: 50%;
              margin-left: -4px;
              margin-right: 32px;
              vertical-align: middle;
            }
            span{
              vertical-align: middle;
            }
          }
          ol{
            li{
              padding-left: 27px;
              background: url(../images/ns-zs-icon_1.png) no-repeat left;
              margin-left: 36px;
              margin-bottom: 10px;
            }
          }
          em{
            @extend %in-b;
            width: 36px;
            height: 15px;
            line-height: 15px;
            background-image: linear-gradient(135deg, 
              #f6c51c 0%, 
              #ef544c 100%), 
            linear-gradient(
              #237ce2, 
              #237ce2);
            background-blend-mode: normal, 
              normal;
            box-shadow: 0px 3px 5px 0px 
              rgba(239, 84, 76, 0.4);
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
            color: #fff;
            transform: scale(0.85);
            margin-left: 10px;
          }
        }
        .video-btn{
          position: absolute;
          bottom: 30px;
          right: 37px;
          a{
            float: left;
            width: 169px;
            height: 48px;
            line-height: 48px;
            background-image: linear-gradient(135deg, 
              #f6c51c 0%, 
              #ef544c 100%), 
            linear-gradient(
              #ef544c, 
              #ef544c);
            background-blend-mode: normal, 
            normal;
            font-size: 16px;
            text-align: center;
            color: #ffffff;
            &:nth-of-type(2){
              background-image: linear-gradient(135deg, 
              #23c9e2 0%, 
              #237ce2 100%), 
              linear-gradient(
                #237ce2, 
                #237ce2);
            }
          }
        }
      }
    }
  }
  .zs-title{
    font-size: 42px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
    .icon-l{
      @extend %in-b;
      width: 57px; 
      height: 56px;
      background: url('../images/css_sprites.png') -208px -10px;
      vertical-align: middle;
    }
    .icon-r{
      @extend %in-b;
      width: 57px; 
      height: 56px;
      background: url('../images/css_sprites.png') -208px -86px;
      vertical-align: middle;
    }
    span{
      font-weight: bold;
      vertical-align: middle;
    }
    .subtitle{
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      opacity: 0.6;
      padding-top: 18px;
    }
  }
  /* 辅导方案 */
  .zs-fd{
    .fd-head{
      display: flex;
      .head-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 430px;
        height: 64px;
        line-height: 64px;
        background-color: #d4d4d4;
        border-radius: 20px 20px 0px 0px;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        position: relative;
        &:nth-of-type(1){
          flex: 1;
          color: #333;
        }
        &:nth-of-type(2){
          background-color: #ef544c;
        }
        &:nth-of-type(3){
          background-color: #237ce2;
        }
      }
      .icon{
        @extend %in-b;
        width: 83px; 
        height: 28px;
        line-height: 28px;
        background: url('../images/css_sprites.png') -10px -163px;
        font-style: normal;
        font-size: 16px;
        font-weight: bold;
        padding-left: 10px;
        position: absolute;
        top: 18px;
        right: 40px;
        text-align: center;
        font-weight: normal;
      }
    }
    .fd-cont{
      background-color: #fff;
      color: #333333;
      .cont-row{
        display: flex;
        font-size: 14px;
        .row-col{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 430px;
          border-right: 1px solid #e4e4e4;
          border-bottom: 1px solid #e4e4e4;
          box-sizing: border-box;
          line-height: 30px;
          padding: 20px 0;
          &:first-child{
            flex: 1;
            font-size: 16px;
          }
          
        }
        ul{
          a{
            &::before{
              @extend %in-b;
              content: '';
              width: 4px;
              height: 4px;
              background-color: #cdcdcd;
              vertical-align: middle;
              margin-right: 10px;
            }
            &:hover{
              color: #ef544c;
              &::before{
                background-color: #ef544c;
              }
            }
          }
          li{
            &:last-child{
              a{
                &::before{
                  display: none;
                }
              }
            }
          }
        }
        ol{
          .icon{
            @extend %in-b;
            width: 5px; 
            height: 10px;
            background: url('../images/css_sprites.png') -285px -167px;
            margin-right: 8px;
          }
          em{
            @extend %in-b;
            padding: 0 6px;
            height: 15px;
            line-height: 15px;
            background-image: linear-gradient(135deg, 
              #f6c51c 0%, 
              #ef544c 100%), 
            linear-gradient(
              #237ce2, 
              #237ce2);
            background-blend-mode: normal, 
              normal;
            box-shadow: 0px 3px 5px 0px 
              rgba(239, 84, 76, 0.4);
            border-radius: 3px;
            font-size: 12px;
            color: #ffffff;
            text-align: center;
            transform: scale(0.85);
          }
        }
        .row-xk{
          margin: 0 40px;
          span{
            @extend %in-b;
            width: 80px;
          }
          .icon{
            @extend %in-b;
            width: 12px; 
            height: 12px;
            background: url('../images/css_sprites.png') -375px -282px;
            margin-right: 10px;
          }
          .sel{
            .icon{
              background: url('../images/css_sprites.png') -375px -314px;
            }
          }
        }
        .row-price{
          font-size: 30px;
          line-height: 30px;
          color: #ef544c;
          text-align: center;
          margin-bottom: 20px;
          padding-top: 20px;
          em{
            font-size: 14px;
            line-height: 30px;
            color: #888888;
          }
          
        }
        .row-btn{
          text-align: center;
          a{
            @extend %in-b;
            width: 175px;
            height: 48px;
            line-height: 48px;
            border: solid 1px #ef544c;
            box-sizing: border-box;
            border-radius: 24px;
            font-size: 16px;
            color: #ef544c;
            margin: 0 10px;
            vertical-align: middle;
            &.active, &:hover{
              background-image: linear-gradient(135deg, 
              #f6c51c 0%, 
              #ef544c 100%), 
              linear-gradient(
                #505050, 
                #505050);
              background-blend-mode: normal, 
                normal;
              box-shadow: 0px 3px 5px 0px 
                rgba(239, 84, 76, 0.4);
              border: none;
              color: #fff;
            }
          }
        }
        .row-bz{
          display: flex;
          justify-content: center;
          align-items: center;
          .bz-l{
            text-align: center;
            margin-right: 20px;
            a{
              display: block;
              color: $txt-color;
            }
          }
          .bz-r{
            @extend %in-b;
            width: 81px; 
            height: 81px;
            background: url('../images/css_sprites.png') -10px -10px;
          }
        }
        .row-fit{
          .icon{
            width: 10px; 
            height: 7px;
            background: url('../images/css_sprites.png') -208px -253px;
          }
          em{
            @extend %in-b;
            height: 15px;
            line-height: 15px;
            background-image: linear-gradient(135deg, 
              #23cee2 0%, 
              #237ce2 100%), 
            linear-gradient(
              #237ce2, 
              #237ce2);
            background-blend-mode: normal, 
              normal;
            box-shadow: 0px 3px 5px 0px 
              rgba(35, 124, 226, 0.4);
            border-radius: 3px;
            font-size: 12px;
            color: #ffffff;
            transform: scale(0.85);
            margin-left: 10px;
          }
        }
        .row-inline{
          padding-left: 30px;
          li{
            width: 198px;
            float: left;
          }
        }
      }
      .flex-row{
        flex-direction: column;
      }
    }
  }
}